@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


/* dashboard.css */
body {
  margin: 0;
  padding: 0;
    background-color: rgba(0, 0, 0, 0.96);

}

.container-fluid {
  min-height: 100vh;
}

.content-area {
  padding: 20px;
  color: white;
}

.sidebar-area {
  height: 100vh;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

.e-switch-wrapper .e-switch-on, .e-css.e-switch-wrapper .e-switch-on {
	background-color: #ffc107 !important;
	/* color: #fff; */
}